#details.content-block
  .block-icon
  h2.block-heading Детали
  .block-delimiter
  .content
    .table-wrap
      table.details-table
        tr
          th
            span Начало приема&nbsp;заявок:
          td
            span.date 10.01.2017
            span.time 00:00
            .shadow
        tr
          th
            span Окончание приема&nbsp;заявок:
          td
            span.date 27.01.2017
            span.time 00:00
            .shadow
        tr
          th
            span Жеребьевка:
          td
            span.date 27.01.2017
            span.time 00:00
            .shadow
        tr
          th
            span Первый матч:
          td
            span.date 28.01.2017
            span.time 12:00
            .shadow
        tr
          th
            span Финал:
          td
            span.date 29.01.2017
            span.time 12:00
            .shadow
        tr
          th
            span Статус турнира:
          td
            span.status Прием заявок
            .shadow
        tr
          th
            span Кол-во команд:
          td
            span.total 16
            span.recruited  (набрано 8)
            .shadow

    .robot-block
      .robot

    a.button.small.red(tabindex="7") Регламент

    .timer-block.highlight-top
      .timer-background
        .timer
          .title До турнира осталось:
          #timer
        .divider
        .recruited
          .title Набрано:
          #recruited

    .register
      .text Успей зарегистрироваться!
      a.button.main(tabindex="8") Зарегистрироваться
