footer
  .content
    .logo
      svg
        use(xlink:href="#logo-light")

    ul.menu
      li.menu-item
        a(tabindex="16") Правила платформы
      li.menu-item
        a(tabindex="17") Условия использования
      li.menu-item
        a(tabindex="18") Политика конфиденциальности
      li.menu-item
        a(tabindex="19") Поддержка

    ul.events.menu
      li.events-item
        a(tabindex="20")
          svg
            use(xlink:href="#events-google_plus")
      li.events-item
        a(tabindex="21")
          svg
            use(xlink:href="#events-facebook")
      li.events-item
        a(tabindex="22")
          svg
            use(xlink:href="#events-twitter")
      li.events-item
        a(tabindex="23")
          svg
            use(xlink:href="#events-twitch")
      li.events-item
        a(tabindex="24")
          svg
            use(xlink:href="#events-youtube")
      li.events-item
        a(tabindex="25")
          svg
            use(xlink:href="#events-vkontakte")