#intro.content-block
  .heading
  h1.heading-text
    span.big Добро пожаловать
    br
    span.small на&nbsp;турниры&nbsp;от
    .logo
      svg
        title GGStars.com
        use(xlink:href="#logo-light")
  .register
    .text Регистрируйся на&nbsp;турнир по&nbsp;League of Legends с&nbsp;призовым фондом&nbsp;$300!
    a.button.main(tabindex="6") Зарегистрироваться
  .text-block
    .sword.ratio.ratio-4x3
      .image.ratio-content
    .styled-text
      p Дорогие&nbsp;друзья! Платформа GGStars проводит для&nbsp;своих игроков призовые online-турниры по&nbsp;дисциплине League&nbsp;of&nbsp;Legends каждые 2&nbsp;недели.
      p Если ты&nbsp;классный игрок и&nbsp;у&nbsp;тебя есть скилл, ты&nbsp;можешь запросто выиграть приз, при&nbsp;этом просто получая&nbsp;фан!
    .axe.ratio.ratio-4x3
      .image.ratio-content
