#prize.content-block
  .block-icon
  h2.block-heading Награда победителям
  .block-delimiter
  .content
    ul.justify-blocks.prize-blocks
      li.justify-block.prize-block.gold.highlight-top
        .icon
        .title
          span первое место
        .prize $150
        .description
      li.justify-block.prize-block.silver.highlight-top
        .icon
        .title
          span Второе место
        .prize $75
        .description
      li.justify-block.prize-block.bronze.highlight-top
        .icon
        .title
          span третье и четвертое места
        .prize 300 RC
        .description на команду
    .lined-wrap
      span.line.left
      .lined.other-prizes
        span 5, 6, 7, 8 места -
        span.bordered &nbsp;150 RC&nbsp;
        span на команду
      span.line.right
    a.button.main(tabindex="10") Cтать победителем!