#schedule.content-block
  .block-icon
  h2.block-heading Предстоящие турниры
  .block-delimiter
  .content
    .table-wrap
      table.schedule-table
        tr
          th.name
            span Турнир
          th.date
            span Дата
          th.places
            span Места
          th.free
            span Свободно
          th.register
            span Регистрация
        tr
          td.name
            span LoL CUP RU #8
          td.date
            span 22.05.2017
          td.places
            span 16
            span.free  / 4
          td.free
            span 4
          td.register
            a.button.small.main(tabindex="14") Подать заявку
        tr
          td.name
            span LoL CUP RU #9
          td.date
            span 08.06.2017
          td.places
            span 32
            span.free  / 30
          td.free
            span 30
          td.register
            a.button.small.main(tabindex="15") Подать заявку
        tr
          td.name
            span LoL CUP RU #10
          td.date
            span 20.06.2017
          td.places
            span 8
            span.free  / 8
          td.free
            span 8
          td.register
            span Регистрация будет открыта 10.06.2017