extends layout/base

block append content
  include blocks/header
  include blocks/intro
  include blocks/details
  include blocks/grid
  include blocks/prize
  include blocks/stages
  include blocks/schedule
  include blocks/events
  include blocks/footer