$black = #000000
$black-75 = rgba(0, 0, 0, 0.75)
$black-80 = rgba(0, 0, 0, 0.8)
$black-90 = rgba(0, 0, 0, 0.9)
$black-95 = rgba(0, 0, 0, 0.95)
$black-lighter = #0c0e11
$grey-light = #65676c
$grey = #26282F
$grey-darkest = #111317
$grey-most-darkest = #080B11
$white = #FFFFFF
$gold = #C9AA71
$gold-most-lightest = #f1e0a1
$gold-lightest = #C79A3C
$gold-light = #C4B998
$gold-dark = #BEA875
$gold-darker = #937341
$gold-semi-darkest = #927345
$gold-pre-darkest = #7a6131
$gold-darkest = #31271e
$gold-most-darkest = #221d19
$blue = #000033
$blue-dark = #022F62
$red = #330000
$red-dark = #970F0F

$sword-color = $blue
$sword-dark-color = $blue-dark
$axe-color = $red
$axe-dark-color = $red-dark

$text-color = $white
$text-first-letter-dash = $gold-darker
$text-first-color = $gold-light
$text-other-color = $gold-dark
$background-color = $black
$background-light-color = $grey-darkest
$dropdown-background-color = $black-90

$header-border = $grey

$menu-color = $gold
$menu-color-hover = $gold-light
$menu-color-active = $white
$runner-color = $gold-lightest

$table-header-color = $gold-light
$table-color = $white

$border-color = $gold-darkest
$border-light-color = $gold-semi-darkest
$border-dark-color = $gold-most-darkest

$timer-background = $grey-most-darkest
$timer-divider-color = $gold-pre-darkest

$title-color = $gold-most-lightest

$light-border-color = $gold-darker

$link-color = $white
$link-hover-color = $gold

$status-color = $black-lighter
$status-winner-color = $gold-lightest

$versus-color = $grey-light